<!--タイトルヘッダー-->
<%= render "public/posts/title_top", posts: @posts, title: "コーディネート一覧" %>

<!--コーデ一覧メイン-->
<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1 d-flex justify-content-between">
      <div class="container">
        <div class="row">
          <!--サイドバー-->
          <div class="col-lg-3 gender-nav">
            <%= render "sidebar", tags: @tags %>
          </div>
          <!--コーディネート一覧-->
          <div class="col-md-9">
            <!--並び替え-->
            <div class="row">
              <div class="col-3 offset-9 text-end">
                <%= render "public/posts/sort_index" %>
              </div>
            </div>
            <div class="row">
              <%= render "index", posts: @posts %>
            </div>
            <%= paginate @posts %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>