<div class="container">
  <div class="row">
    <div class="member_top">
      <%= image_tag @post.member.get_profile_image, class: "profile_image_top" %>
      <%= @post.member.name %>
      <%= @post.member.height %>cm
      <%= @post.member.get_gender %>
      <% if @post.member == current_member %>
        <%= link_to "編集", edit_post_path(@post) %>
        <%= link_to "削除", post_path(@post), method: :delete, data: {confirm: "本当に削除しますか？"} %>
      <% else %>
        <span id="follow_btn_<%= @post.member.id %>">
          <%= render "public/relationships/follow", member: @post.member %>
        </span>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-7 col-lg-5">
      <div class="card">
        <%= image_tag @post.outfit_image, class: "outfit_image_show" %>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div id="favorite_buttons_<%= @post.id %>">
              <%= render "public/favorites/favorite", post: @post %>
            </div>
          </li>
          <div id="post_comments_<%= @post.id %>">
            <%= render "public/post_comments/comment", post: @post, post_comment_new: @post_comment_new %>
          </div>
        </ul>
      </div>
    </div>
    <div class="col-md-5">
      <div class="coordinate_info">
        <div class="row">
          <p>
            モデル情報:
            <%= @post.member.height %>cm
            <%= @post.member.get_gender %>
          </p>
          <p class="border-top"><%= @post.body %></p>
          <p class="border-top">
            <i class="fa-regular fa-clock"></i>
            <%= @post.created_at.strftime('%Y/%m/%d') %>
          </p>
        </div>
      </div>
      <div class="tag_area">
        <h4>着用タグからコーディネートを探す</h4>
        <% @post.tags.each do |tag| %>
          <%= link_to search_posts_path do %>
            <span class="tag_box"># <%= tag.name %></span>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>


