<!--タイトルヘッダー-->
<%= render "admin/members/title_top", members: @members, title: "ユーザー一覧" %>

<!--ユーザー一覧メイン-->
<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2 d-flex justify-content-between">
      <div class="container">
        <div class="row">
          <!--サイドバー-->
          <%= render "admin/members/sidebar" %>

          <!--ユーザー一覧-->
          <div class="col-lg-9">
            <!--並び替え-->
            <%= render "admin/members/sort_members" %>
            <!--ユーザー一覧-->
            <ul class="ps-0">
              <%= render "index", members: @members %>
            </ul>
            <%= paginate @members %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
