<nav class="navbar navbar-expand-lg navbar-light bg-light shadow">
  <div class="container d-flex justify-content-around">
    <div id="header-search-area">
      <div class="dropdown">
        <%= image_tag "search-icon.jpg", class: "open-btn dropdown-toggle", id: "dropdownMenuButton1", "data-bs-toggle": "dropdown" %>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><button class="dropdown-item user-search">ユーザー検索</a></li>
          <li><button class="dropdown-item coordinate-search">コーディネート検索</a></li>
        </ul>

        <div id="search-wrap-user">
          <div class="close-btn-user"><span></span><span></span></div>
          <div class="search-area">
            <%= search_form_for @q, url: search_admin_members_path do |f| %>
              <%= f.text_field :name_cont, placeholder: "ユーザーを探す" , autocomplete: 'off', required: true %>
              <input type="submit" id="searchsubmit" value="">
            <% end %>
          </div>
        </div>

        <div id="search-wrap-coordinate">
          <div class="close-btn-coordinate"><span></span><span></span></div>
          <div class="search-area">
            <%= search_form_for @search_post, url: search_admin_posts_path do |f| %>
              <%= f.text_field :tags_name_cont, placeholder: "コーディネートを探す",  autocomplete: 'off', required: true %>
              <input type="submit" id="searchsubmit" value="">
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="application-name">
      <a class="navbar-brand" href="/admin"><strong>MyFashion</strong></a>
    </div>

    <div class="user-icon">
      <% if admin_signed_in? %>
        <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %></li>
      <% else %>
        <%= image_tag "no_image_user.jpg", class: "profile_image_li" %>
        <%= link_to "ログイン", new_admin_session_path %>
      <% end %>
    </div>
  </div>
</nav>
<script>
  $(function(){
    $("#search-wrap-user").hide();
    $("#search-wrap-coordinate").hide();
  });

　function userSearch () {
　  $(".user-search").click(function () {
      $("#search-wrap-user").show().addClass('panelactive');
      $('#q_name_cont').focus();//テキスト入力のinputにフォーカス
      $("#footer").css("z-index", "0");
    });

    //閉じるボタンを押した時
    $(".close-btn-user").click(function () {
      $("#search-wrap-user").hide().removeClass('panelactive');//#search-wrap-userからpanelactiveクラスを除去
      $("#q_name_cont").val("");
      $("#footer").css("z-index", "2");
    });
　};

　function coordinateSearch () {
　  $(".coordinate-search").click(function () {
      $("#search-wrap-coordinate").show().addClass('panelactive');//#search-wrap-coordinateへpanelactiveクラスを付与
      $('#q_tags_name_cont').focus();//テキスト入力のinputにフォーカス
      $("#footer").css("z-index", "0");
    });

    //閉じるボタンを押した時
    $(".close-btn-coordinate").click(function () {
      $("#search-wrap-coordinate").hide().removeClass('panelactive');//#search-wrap-coordinateからpanelactiveクラスを除去
      $("#q_tags_name_cont").val("");
      $("#footer").css("z-index", "0");
    });
　};

　userSearch();
　coordinateSearch();
</script>