<nav class="navbar navbar-expand-lg navbar-light bg-light shadow">
  <div class="container d-flex justify-content-around">
    <div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!--検索フォーム-->
        <%= search_form_for @q, url: search_members_path, class: "d-flex search_form" do |f| %>
          <%= f.search_field :name_cont, class: "form-control me-2", placeholder: "ユーザーを探す" %>

          <%= f.submit "検索", class: "btn btn-outline-success" %>
        <% end %>
        <%= search_form_for @search_post, url: search_posts_path, class: "d-flex search_form" do |f| %>
          <%= f.search_field :tags_name_cont, class: "form-control me-2", placeholder: "コーディネートを探す" %>

          <%= f.submit "検索", class: "btn btn-outline-success" %>
        <% end %>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">コーディネートやユーザーを探す</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <ul class="nav nav-tabs">
                  <li class="nav-item">
                    <a class="nav-link user-search" id="user-search-tab">ユーザー検索</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link user-search" id="coodinate-search-tab" aria-current="page">コーディネート検索</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="application-name">
      <a class="navbar-brand" href="/admin"><strong>MyFashion</strong></a>
    </div>

    <div class="user-icon">
      <% if admin_signed_in? %>
        <%= link_to "ログアウト", destroy_member_session_path, method: :delete, class: "dropdown-item" %></li>
      <% else %>
        <%= image_tag "no_image_user.jpg", class: "profile_image_li" %>
        <%= link_to "ログイン", new_admin_session_path %>
      <% end %>
    </div>
  </div>
</nav>
<script>
  $(document).on('turbolinks:load', function() {
    showMemberSearch()
    hidePostSearch()

    $('#condition').change(function() {
      let condition = $('#condition').val()
      if(condition === 'ユーザー検索') {
        showMemberSearch()
        hidePostSearch()
      } else {
        showPostSearch()
        hideMemberSearch()
      }
    })

    function showPostSearch() {
      $('#post_search').addClass("d-flex")
      $('#post_search').show()
    }

    function hidePostSearch() {
      $('#post_search').removeClass("d-flex")
      $('#post_search').hide()
    }

    function showMemberSearch() {
      $('#member_search').addClass("d-flex")
      $('#member_search').show()
    }

    function hideMemberSearch() {
      $('#member_search').removeClass("d-flex")
      $('#member_search').hide()
    }
  })
</script>

