<% posts.each do |post| %>
  <div class="col-lg-3 col-md-4 col-sm-6 g-5">
    <div class="card card-effect">
      <%= link_to post_path(post) do %>
        <%= image_tag post.outfit_image, class: "outfit_image_index" %>
      <% end %>
      <ul class="list-group list-group-flush">
        <li class="list-group-item" id="favorite_buttons_<%= post.id %>">
          <% if member_signed_in? %>
            <%= render "public/favorites/favorite", post: post %>
          <% else %>
            <p class="text-center">
              <i class="fa-solid fa-heart text-danger"></i>
              <%= post.favorites.count %>
            </p>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
<% end %>