<!--タイトル-->
<%= render "public/members/title-top", member: @member, text: "のフォロワー一覧" %>

<!--ユーザーの投稿数、いいね数、フォロー、フォロワー数-->
<div class="container mt-3">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="coordinate_follow d-flex text-center">
        <div class="coordinate_follow_box col-3">
          <%= link_to member_path(@member) do %>
            <%= @member.posts.count %>
            <span>コーディネート</span>
          <% end %>
        </div>
        <div class="coordinate_follow_box col-3">
          <%= link_to favorites_member_path(@member) do %>
            <%= @member.favorites.count %>
            <span>いいね</span>
          <% end %>
        </div>
        <div class="coordinate_follow_box col-3">
          <%= link_to followings_member_path(@member) do %>
            <%= @member_followings.count %>
            <span>フォロー</span>
          <% end %>
        </div>
        <div class="coordinate_follow_box col-3">
          <%= link_to followers_member_path(@member) do %>
            <%= @member_followers.count %>
            <span>フォロワー</span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<!--ユーザーのフォロワー一覧-->
<% if @member_followers.present? %>
  <div class="container">
    <div class="row">
      <%= render "follow", members: @member_followers %>
      <%= paginate @member_followers %>
    </div>
  </div>
<% else %>
  <h4 class="text-center pt-5">まだフォローされていません</h4>
<% end %>