<h1>ユーザー一覧</h1>
<table>
  <thead>
    <tr>
      <th></th>
      <th>名前</th>
      <th>性別</th>
      <th>身長</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td>
          <%= link_to member_path(member) do %>
            <%= image_tag member.get_profile_image, class: "profile_image_index" %>
          <% end %>
        </td>
        <td>
          <%= link_to member_path(member) do %>
            <%= member.name %>
          <% end %>
        </td>
        <td><%= member.get_gender %></td>
        <td><%= member.height %></td>
        <td id="follow_btn">
          <%= render "public/relationships/follow", member: member %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>