<!--タイトル-->
<header id="title_top">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2 d-flex justify-content-between">
        <h1>ユーザー一覧<span class="ms-1">(男性)</span></h1>
        <div class="all_member">
          <h2 class="ps-3"><%= @members_men.count %><span>件</span></h2>
        </div>
      </div>
    </div>
  </div>
</header>

<!--ユーザー一覧メイン-->
<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2 d-flex justify-content-between">
      <div class="container">
        <div class="row">
          <!--サイドバー-->
          <div class="col-lg-3 gender-nav">
            <nav id="sidebar">
              <h2 class="title">性別</h2>
              <ul class="m-0">
                <li class="py-2"><%= link_to "ALL", members_path %></li>
                <li class="py-2"><%= link_to "MEN", men_members_path %></li>
                <li class="py-2"><%= link_to "WOMEN", women_members_path %></li>
              </ul>
            </nav>
          </div>
          <!--ユーザー一覧(男性)-->
          <div class="col-lg-9">
            <ul class="ps-0">
              <%= render "index", members: @members_men %>
            </ul>
            <%= paginate @members_men %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
