<header id="title_top">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <% if @member == current_member %>
          <p>マイページ</p>
        <% else %>
          <p><%= @member.name %>のページ</p>
        <% end %>
        <div class="member_profile mt-3">
          <div class="d-flex">
            <div>
              <%= image_tag @member.get_profile_image, class: "profile_image_show" %>
            </div>
            <div class="title_text ps-4 pt-1">
              <h1><%= @member.name %></h1>
              <div class="d-flex">
                <p class="pe-2"><%= @member.get_gender %></p>
                <p class="pe-2"><%= @member.get_height %></p>
              </div>
              <p class="pt-3"><%= @member.body %></p>
            </div>
          </div>
          <% if @member == current_member && @member.name != "企業様(閲覧用)" %>
            <div class="btn_area d-flex justify-content-between mt-3">
              <%= link_to edit_member_path(@member), class: "secondary-btn bg-gray" do %>
                <span>プロフィール編集</span>
              <% end %>
              <%= link_to new_post_path, class: "primary-btn bg-blue" do %>
                <span>コーディネート登録</span>
              <% end %>
              <%= link_to withdraw_confirm_member_path(@member), class: "danger-btn bg-red" do %>
                <span>退会について</span>
              <% end %>
            </div>
            <% elsif @member == current_member && @member.name == "企業様(閲覧用)" %>
              <div class="btn_area d-flex justify-content-between mt-3">
                <%= link_to new_post_path, class: "primary-btn bg-blue" do %>
                  <span>コーディネート登録</span>
                <% end %>
              </div>
          <% else %>
            <div id="follow_btn_<%= @member.id %>" class="mt-3 ms-3">
              <%= render "public/relationships/follow", member: @member %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</header>

<!--ユーザーの投稿数、フォロー、フォロワー数-->
<div class="container mt-3">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="coordinate_follow d-flex text-center">
        <div class="coordinate_follow_box col-4">
          <%= link_to member_path(@member) do %>
            <%= @member.posts.count %>
            <span>コーディネート</span>
          <% end %>
        </div>
        <div class="coordinate_follow_box col-4">
          <%= link_to followings_member_path(@member) do %>
            <%= @member_followings.count %>
            <span>フォロー</span>
          <% end %>
        </div>
        <div class="coordinate_follow_box col-4">
          <%= link_to followers_member_path(@member) do %>
            <%= @member_followers.count %>
            <span>フォロワー</span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <% if @member == current_member && @member.posts.count == 0 %>
      <div class="pt-5 text-center">
        <h4>コーディネートを投稿してみよう！</h4>
        <p>
          毎日のコーデ記録始めませんか？<br>
          自分のコーデを共有しよう！
        </p>
      </div>
      <% elsif @member != current_member && @member.posts.count == 0 %>
        <div class="pt-5 text-center">
          <h4>まだ投稿がありません</h4>
        </div>
    <% else %>
      <% @member_posts.each do |post| %>
        <div class="col-lg-3 col-md-4 col-sm-6 g-5">
          <div class="card card-effect">
            <%= link_to post_path(post) do %>
              <%= image_tag post.outfit_image, class: "outfit_image_index" %>
            <% end %>
            <ul class="list-group list-group-flush">
              <li class="list-group-item" id="favorite_buttons_<%= post.id %>">
                <% if member_signed_in? %>
                  <%= render "public/favorites/favorite", post: post %>
                <% else %>
                  <p class="text-center">
                    <i class="fa-solid fa-heart"></i>
                    <%= post.favorites.count %>
                  </p>
                <% end %>
              </li>
            </ul>
          </div>
        </div>
      <% end %>
      <%= paginate @member_posts %>
    <% end %>
  </div>
</div>

