<nav class="navbar navbar-expand-lg shadow">
  <div class="container d-flex justify-content-around">
    <div>
      <%= image_tag "search-icon.jpeg", class: "open-btn" %>
      <%= image_tag "stop-btn.png", class: "close-btn" %>
      <div class="wrapper mt-2">
      <ul class="tab m-0 p-0">
        <li><a href="#user-search">ユーザー検索</a></li>
        <li><a href="#coodinate-search">コーディネート検索</a></li>
      </ul>

      <div id="user-search" class="area">
        <!--検索フォーム-->
        <%= search_form_for @q, url: search_members_path, class: "d-flex search_form" do |f| %>
          <%= f.search_field :name_cont, class: "form-control me-2", placeholder: "ユーザーを探す" , autocomplete: 'off'%>
          <%= f.submit "検索", class: "btn btn-outline-success" %>
        <% end %>
      </div>
      <div id="coodinate-search" class="area">
        <%= search_form_for @search_post, url: search_posts_path, class: "d-flex search_form" do |f| %>
          <%= f.search_field :tags_name_cont, class: "form-control me-2", placeholder: "コーディネートを探す",  autocomplete: 'off'%>
          <%= f.submit "検索", class: "btn btn-outline-success" %>
        <% end %>
      </div>
    </div>
    </div>

    <div class="application-name">
      <a class="navbar-brand pe-3" href="/"><strong>MyFashion</strong></a>
    </div>

    <div class="user-icon">
      <% if member_signed_in? %>
        <div class="dropdown">
          <%= image_tag current_member.get_profile_image, class: "profile_image_li dropdown-toggle", id: "dropdownMenuButton1", "data-bs-toggle": "dropdown" %>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><%= link_to "マイページ", member_path(current_member), class: "dropdown-item" %></li>
            <li><%= link_to "ログアウト", destroy_member_session_path, method: :delete, class: "dropdown-item" %></li>
            <li><%= link_to "退会について", withdraw_confirm_member_path(current_member), class: "dropdown-item" %></li>
          </ul>
        </div>
      <% else %>
        <%= image_tag "no_image_user.jpg", class: "profile_image_li" %>
        <%= link_to "新規登録", new_member_registration_path %> |
        <%= link_to "ログイン", new_member_session_path %>
      <% end %>
    </div>
  </div>
</nav>
<script>
  $(".wrapper").hide()
  $(".close-btn").hide()

  $(".open-btn").click(function(){
    $(".wrapper").show()
    $(".close-btn").show()
    $(".open-btn").hide()
  })

  $(".close-btn").click(function(){
    $(".wrapper").hide()
    $(".close-btn").hide()
    $(".open-btn").show()
  })

    //任意のタブにURLからリンクするための設定
  function GethashID (hashIDName){
    if(hashIDName){
      //タブ設定
      $('.tab li').find('a').each(function() { //タブ内のaタグ全てを取得
        var idName = $(this).attr('href'); //タブ内のaタグのリンク名（例）#lunchの値を取得
        if(idName == hashIDName){ //リンク元の指定されたURLのハッシュタグ（例）http://example.com/#lunch←この#の値とタブ内のリンク名（例）#lunchが同じかをチェック
          var parentElm = $(this).parent(); //タブ内のaタグの親要素（li）を取得
          $('.tab li').removeClass("active"); //タブ内のliについているactiveクラスを取り除き
          $(parentElm).addClass("active"); //リンク元の指定されたURLのハッシュタグとタブ内のリンク名が同じであれば、liにactiveクラスを追加
          //表示させるエリア設定
          $(".area").removeClass("is-active"); //もともとついているis-activeクラスを取り除き
          $(hashIDName).addClass("is-active"); //表示させたいエリアのタブリンク名をクリックしたら、表示エリアにis-activeクラスを追加
        }
      });
    }
  }

  //タブをクリックしたら
  $('.tab a').on('click', function() {
    var idName = $(this).attr('href'); //タブ内のリンク名を取得
    GethashID (idName);//設定したタブの読み込みと
    return false;//aタグを無効にする
  });


  // 上記の動きをページが読み込まれたらすぐに動かす
  $(window).on('load', function () {
      $('.tab li:first-of-type').addClass("active"); //最初のliにactiveクラスを追加
      $('.area:first-of-type').addClass("is-active"); //最初の.areaにis-activeクラスを追加
    var hashName = location.hash; //リンク元の指定されたURLのハッシュタグを取得
    GethashID (hashName);//設定したタブの読み込み
  });
</script>

