<!DOCTYPE html>
<html>
  <head>
    <title>MyFashion</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/54b3c260a3.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <header>
      <%= render "layouts/public/header" %>
    </header>

    <main>
      <!--フラッシュメッセージ-->
      <%= render "layouts/flash" %>

      <%= yield %>
    </main>

    <footer id="footer">
      <p id="page-top"><a href="#">Topへ</a></p>
      <div id="sns-icon">
        <div class="me-3"><i class="fa-brands fa-instagram"></i></div>
        <div class="me-3"> <i class="fa-brands fa-twitter"></i></div>
        <div><i class="fa-brands fa-facebook"></i></div>
      </div>
      <p class="text-center">&copy; copyright.</p>
    </footer>
  </body>
</html>
