<nav class="navbar navbar-expand-lg navbar-light bg-light shadow">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">MyFashion</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <% if member_signed_in? %>
          <li class="nav-item">
            <%= link_to "コーデ一覧", posts_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "ユーザー一覧", members_path, class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <%= link_to "マイページ", member_path(current_member), class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "ログアウト", destroy_member_session_path, method: :delete, class: "nav-link" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "コーデ一覧", root_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "ユーザー一覧", members_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "新規登録", new_member_registration_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "ログイン", new_member_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>

      <!--検索フォーム-->
      <%= select_tag 'condition', options_for_select(["ユーザー検索", "コーディネート検索"]), class: "form-select form-select-sm text-center me-2", style: "width: auto;"%>
      <%= search_form_for @q, url: search_members_path, class: "d-flex" do |f| %>
        <%= f.search_field :name_cont, class: "form-control me-2", placeholder: "ユーザーを探す" %>

        <%= f.submit "検索", class: "btn btn-outline-success" %>
      <% end %>
      <%= search_form_for @search_post, url: search_posts_path, class: "d-flex" do |f| %>
        <%= f.search_field :tags_name_cont, class: "form-control me-2", placeholder: "コーディネートを探す" %>

        <%= f.submit "検索", class: "btn btn-outline-success" %>
      <% end %>
    </div>
  </div>
</nav>
<script>
  $(document).on('turbolinks:load', function() {
    showMemberSearch()
    hidePostSearch()

    $('#condition').change(function() {
      let condition = $('#condition').val()
      if(condition === 'ユーザー検索') {
        showMemberSearch()
        hidePostSearch()
      } else {
        showPostSearch()
        hideMemberSearch()
      }
    })

    function showPostSearch() {
      $('#post_search').addClass("d-flex")
      $('#post_search').show()
    }

    function hidePostSearch() {
      $('#post_search').removeClass("d-flex")
      $('#post_search').hide()
    }

    function showMemberSearch() {
      $('#member_search').addClass("d-flex")
      $('#member_search').show()
    }

    function hideMemberSearch() {
      $('#member_search').removeClass("d-flex")
      $('#member_search').hide()
    }
  })
</script>

